week3/bank_xsd.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
     <xs:element name="bank">
          <xs:annotation>
              <xs:documentation>A bank contains accounts, customers and accounts of customers</xs:documentation> <!--4.Добавете няколко анотации в по-горе създадената XML схема (bank.xsd) към избрани от вас комплексните типове, описващи тяхното предназначение-->
          </xs:annotation>
          <xs:complexType>
               <xs:all> 
                    <xs:element ref="accounts"/>
                    <xs:element ref="customers"/>
                    <xs:element ref="customer_accounts"/>
               </xs:all>
          </xs:complexType>
     </xs:element>
     <xs:element name="accounts">
           <xs:annotation>
               <xs:documentation>An accounts contains saving accounts and checking accounts</xs:documentation> <!--4.Добавете няколко анотации в по-горе създадената XML схема (bank.xsd) към избрани от вас комплексните типове, описващи тяхното предназначение-->
          </xs:annotation>
          <xs:complexType>
                <xs:all> 
                    <xs:element ref="saving_accounts"/>
                    <xs:element ref="checking_accounts"/>
               </xs:all>
          </xs:complexType>
     </xs:element>
     <xs:element name="saving_accounts">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="saving_account" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
      <xs:element name="saving_account"> 
          <xs:complexType>
               <xs:sequence>
                     <xs:element name="balance" type="xs:integer"/>
               </xs:sequence>
               <xs:attribute name="id" type="xs:ID" use="required"/> 
               <xs:attribute name="interest" type="xs:decimal"/>
          </xs:complexType>
      </xs:element>
     <xs:element name="checking_accounts">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="checking_account" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
     <xs:element name="checking_account">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="balance"/>
               </xs:sequence>
               <xs:attribute name="id" type="xs:ID" use="required"/> 
          </xs:complexType>
      </xs:element>
      <!-- 1. Дефинирайте два прости типа, задаващи горна и долна граница на стойността на елемента balance: -->
        <xs:element name="balance">  <!-- 4.Балансът на сметката не може да бъде по-малък от -5000 : -->
          <xs:simpleType>
               <xs:restriction base="xs:integer">
                     <xs:minInclusive value="-5000"/>
               </xs:restriction>
          </xs:simpleType>
     </xs:element>
       <xs:element name="customers"> 
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="customerExt" minOccurs="0" maxOccurs="unbounded"/> <!--2. Използвайте новия тип customerExt вместо customer-->
               </xs:sequence>
          </xs:complexType>
     </xs:element>
     <xs:complexType name="customer">
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/> 
      </xs:complexType>
      <!-- 2. Използвайки разширени типове на XML Schema, създайте нов тип customerExt,
     който разширява дефиницията на типа customer като добавя нов негов под-елемент contacts,
     който от своя страна се състои от 2 под-елемента - email и telephone. 
     Използвайте новия тип customerExt вместо customer и запишете новата XML схема под името bank.xsd: -->
      <xs:element name="customerExt">
          <xs:complexType>
              <xs:complexContent>
                <xs:extension base="customer">
                    <xs:sequence>
                        <xs:element ref="contacts"/>
                    </xs:sequence>
                </xs:extension>
              </xs:complexContent>
          </xs:complexType>
      </xs:element>
      <!-- 2. contacts се състои от 2 под-елемента - email и telephone: -->
      <xs:element name="contacts">
          <xs:complexType>
               <xs:sequence>
                     <xs:element name="email" type="xs:string"/>
                     <xs:element name="telephone" type="xs:string"/>
               </xs:sequence>
          </xs:complexType>
      </xs:element>
      <xs:element name="customer_accounts">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="customer_account" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
      </xs:element>
       <xs:element name="customer_account">
          <xs:complexType>
                <xs:attribute name="c_id" type="xs:IDREF" use="required"/>
                <xs:attribute name="ac_id" type="xs:IDREF" use="required"/> 
          </xs:complexType>
      </xs:element>
</xs:schema>
