week3/bankExt_xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- 3. Създайте нова XML схема, която предефинира типа balance и customerExt от външната за нея XML схема - bank.xsd.
Новият тип balance не трябва да бъде по-малък от -5200,a новият тип customerExt съдържа допълнително нов под-елемент image от тип base64Binary, 
който има един атрибут src от тип string. Запишете новата XML схема под името bankExt.xsd -->
    <xs:redefine schemaLocation="bank_xsd">  <!-- предефинира типа balance и customerExt от външната за нея XML схема - bank_xsd.xml-->
        <xs:complexType name="customerExt">
            <xs:complexContent>
                <xs:extension base="customerExt"> <!-- новият тип customerExt съдържа допълнително нов под-елемент image-->
                    <xs:sequence>
                        <xs:element name="image" type="image" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
        <xs:simpleType name="minBalance">
            <xs:restriction base="minBalance"> <!-- новият тип balance не трябва да бъде по-малък от -5200-->
                <xs:minInclusive value="-5200" /> 
            </xs:restriction>
        </xs:simpleType>
    </xs:redefine>
    <xs:complexType name="image"> <!-- елемент от тип base64Binary-->
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="src" type="xs:string" use="required"/> <!-- с атрибут src от тип string-->
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>