week3/task6_2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.org/client" xmlns:client2="http://example.org/client" xmlns:client="http://example.org/client" elementFormDefault="qualified">
 <xsd:import namespace="http://example.org/shop" schemaLocation="task6_1.xml"/>
 <xsd:element name="client" type="client:clientType"/>
 <xsd:complexType name="clientType">
  <xsd:sequence>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="years" type="xsd:integer"/>
   <xsd:element name="favourite_shop" type="client:fav_shop"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="fav_shop">
  <xsd:sequence>
   <xsd:element ref="shop:shop" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>