week3/task1_xsd.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
     <xs:element name="collection"> <!-- <=> <!ELEMENT collection (description,recipe*)> -->
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="description"> <!-- <=> <!ELEMENT description ANY>-->>
                         <xs:complexType>
                              <xs:sequence minOccurs="1" maxOccurs="1">
                                   <xs:any namespace="##any"/>
                              </xs:sequence>
                         </xs:complexType> 
                    </xs:element>
                    <xs:element name="recipe" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
     <xs:element name="recipe"> <!-- <=> <!ELEMENT recipe (title,ingredient*,preparation,comment?,nutrition)> -->
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="title" type="xs:string"/> <!-- <=> <!ELEMENT title (#PCDATA)>-->>
                    <xs:element ref="ingredient" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="preparation"/>
                    <xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1"/> <!--<!ELEMENT comment (#PCDATA)>-->>
                    <xs:element ref="nutrition"/>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
     <xs:element name="ingredient"> <!-- <=> <!ELEMENT ingredient (preparation?)>-->>
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="preparation" minOccurs="0" maxOccurs="1"/>
               </xs:sequence>
               <xs:attributeGroup ref="IngredientAttributes"/>
          </xs:complexType>
     </xs:element>
      <xs:element name="preparation"> <!-- <=> <!ELEMENT preparation (step*)>-->>
          <xs:complexType>
               <xs:sequence>
                     <xs:element name="step" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> <!--<!ELEMENT step (#PCDATA)>-->>
               </xs:sequence>
          </xs:complexType>
      </xs:element>
      <xs:element name="nutrition"> <!--<!ELEMENT nutrition EMPTY> => празен, има само атрибути-->>
          <xs:complexType>
              <xs:attributeGroup ref="nutritionAttributes"/>
          </xs:complexType>
      </xs:element>
      <xs:attributeGroup name="IngredientAttributes">
      <!-- <!ATTLIST ingredient name CDATA #REQUIRED
                     amount CDATA #IMPLIED
                     unit CDATA #IMPLIED> -->
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="amount" type="xs:string"/>
          <xs:attribute name="unit" type="xs:string"/>
      </xs:attributeGroup>
      <xs:attributeGroup name="nutritionAttributes">
          <!-- <!ATTLIST nutrition protein CDATA #REQUIRED
                    carbohydrates CDATA #REQUIRED
                    fat CDATA #REQUIRED
                    calories CDATA #REQUIRED
                    alcohol CDATA #IMPLIED> -->
          <xs:attribute name="protein" type="xs:string" use="required"/>
          <xs:attribute name="carbohydrates" type="xs:string" use="required"/>
          <xs:attribute name="fat" type="xs:string" use="required"/>
          <xs:attribute name="calories" type="xs:string" use="required"/>
          <xs:attribute name="alcohol" type="xs:string"/>
      </xs:attributeGroup>
</xs:schema>
