week3/task2_xsd.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
     <xs:element name="bank">
          <xs:complexType>
               <xs:all> <!-- 1.Редът на срещане на под-елементите на bank (accounts, customers и customer_accounts) няма значение => използваме xs:all -->
                    <xs:element name="accounts"> <!-- 6. Дефинирайте елемента accounts като комплексен локален тип -->>
                         <xs:complexType>
                              <xs:all> <!-- 1.Редът на срещане на под-елементите на accounts (saving_accounts и checking_accounts) няма значение => използваме xs:all -->
                                   <xs:element ref="saving_accounts"/>
                                   <xs:element ref="checking_accounts"/>
                              </xs:all>
                         </xs:complexType>
                    </xs:element>
                    <xs:element ref="customers"/>
                    <xs:element ref="customer_accounts"/>
               </xs:all>
          </xs:complexType>
     </xs:element>
     <xs:element name="saving_accounts">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="saving_account" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
      <xs:element name="saving_account"> <!--6. Дефинирайте елемента saving_account като комплексен глобален тип-->
          <xs:complexType>
               <xs:sequence>
                     <xs:element name="balance" type="xs:integer"/>
               </xs:sequence>
               <xs:attribute name="id" type="xs:ID" use="required"/> <!-- 2.Всяка сметка има уникален идентификатор => xs:ID-->
               <xs:attribute name="interest" type="xs:decimal"/>
          </xs:complexType>
      </xs:element>
     <xs:element name="checking_accounts">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="checking_account" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
     <xs:element name="checking_account">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="balance"/>
               </xs:sequence>
               <xs:attribute name="id" type="xs:ID" use="required"/> <!-- 2.Всяка сметка има уникален идентификатор => xs:ID-->
          </xs:complexType>
      </xs:element>
      <xs:element name="balance">  <!-- 4.Балансът на сметката не може да бъде по-малък от -5000 : -->
          <xs:simpleType>
               <xs:restriction base="xs:integer">
                     <xs:minInclusive value="-5000"/>
               </xs:restriction>
          </xs:simpleType>
     </xs:element>
       <xs:element name="customers"> <!--6.Дефинирайте елемента customers като комплексен глобален тип-->
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="customer" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
     <xs:element name="customer">
          <xs:complexType>
               <xs:sequence>
                     <xs:element name="name" type="xs:string"/>
                     <xs:element name="address" type="xs:string"/>
               </xs:sequence>
               <xs:attribute name="id" type="xs:ID" use="required"/> <!-- 3.Всеки клиент има уникален идентификатор => xs:ID -->
          </xs:complexType>
      </xs:element>
      <xs:element name="customer_accounts">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="customer_account" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
      </xs:element>
       <xs:element name="customer_account">
          <xs:complexType>
                <xs:attribute name="c_id" type="xs:IDREF" use="required"/> <!--5. Атрибутът c_id реферира към съответния клиент => използваме xs:IDREF-->
                <xs:attribute name="ac_id" type="xs:IDREF" use="required"/> <!--5. Атрибутът ac_id реферира към съответната му сметка => използваме xs:IDREF-->
          </xs:complexType>
      </xs:element>
</xs:schema>
