week3/task3.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
     <xs:element name="bank">
          <xs:complexType>
               <xs:all>
                    <xs:element ref="accounts"/>
                    <xs:element ref="customers"/>
                    <xs:element ref="customer_accounts"/>
               </xs:all>
                <annotation>
                    <info>
                        This is a complex type bank. It has 3 elements: accounts, customers and customer_accounts
                    </info>
                </annotation>
          </xs:complexType>
     </xs:element>
     <xs:element name="accounts">
          <xs:complexType>
                <xs:all>
                    <xs:element ref="saving_accounts"/>
                    <xs:element ref="checking_accounts"/>
               </xs:all>
          </xs:complexType>
     </xs:element>
     <xs:element name="saving_accounts">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="saving_account" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
      <xs:element name="saving_account">
          <xs:complexType>
               <xs:sequence>
                     <xs:element name="balance" type="xs:integer"/>
               </xs:sequence>
               <xs:attribute name="id" type="xs:ID" use="required"/>
               <xs:attribute name="interest" type="xs:decimal"/>
          </xs:complexType>
      </xs:element>
     <xs:element name="checking_accounts">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="checking_account" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
     <xs:element name="checking_account">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="balance"/>
               </xs:sequence>
               <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
      </xs:element>
        <xs:simpleType name="minBalance">
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="-5000"/>
            </xs:restriction>
        </xs:simpleType>
      <xs:simpleType name="maxBalance">
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="50000000"/>
            </xs:restriction>
        </xs:simpleType>
      <xs:element name="balance">
            <xs:simpleType>
                <xs:union memberTypes="minBalance maxBalance"/>
            </xs:simpleType>
     </xs:element>
       <xs:element name="customers">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="customerExt" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
     <xs:complexType name="customer">
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
      </xs:complexType>
      <xs:element name="customerExt">
          <xs:complexType>
              <xs:complexContent>
                <xs:extension base="customer">
                    <xs:sequence>
                        <xs:element ref="contscts"/>
                    </xs:sequence>
                </xs:extension>
              </xs:complexContent>
          </xs:complexType>
      </xs:element>
      <xs:element name="contacts">
          <xs:complexType>
               <xs:sequence>
                     <xs:element name="email" type="xs:string"/>
                     <xs:element name="telephone" type="xs:string"/>
               </xs:sequence>
          </xs:complexType>
      </xs:element>
      <xs:element name="customer_accounts">
          <xs:complexType>
               <xs:sequence>
                     <xs:element ref="customer_account" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
          </xs:complexType>
      </xs:element>
       <xs:element name="customer_account">
          <xs:complexType>
                <xs:attribute name="c_id" type="xs:IDREF" use="required"/>
                <xs:attribute name="ac_id" type="xs:IDREF" use="required"/>
          </xs:complexType>
      </xs:element>
</xs:schema>
